In [1]:
import pandas as pd

In [33]:
#Split the longitude , latitude and the value in different columns:
with open('Data/test.csv', 'r') as f_in, open('Data/test_low_res.csv', 'w') as f_out:
    head=next(f_in).replace(" ","")
    f_out.write(head)
    [f_out.write(','.join(line.split()) + '\n') for line in f_in if line[:8]!="Latitude"]

In [34]:
data=pd.read_csv("Data/test_low_res.csv",delimiter=",")

In [37]:
red_grid=(data.Longitude%1==0)&(data.Latitude%1==0)

In [59]:
red_grid_data=data[red_grid]

In [84]:
date=red_grid_data.validityDate[0]
time=red_grid_data.validityTime[0]
data_single_time=red_grid_data[(red_grid_data.validityTime==time)&(red_grid_data.validityDate==date)].reset_index()

In [85]:
#Measure the size of one single observation:
print("Size of one data reduced data point")
data_single_time.count

Size of one data reduced data point

<bound method DataFrame.count of      index  Latitude  Longitude         Value  dataDate  dataTime  \
0        0      45.0     -111.0      0.226929  19891231         0
1       10      45.0     -110.0      0.893921  19891231         0
2       20      45.0     -109.0      0.139038  19891231         0
3       30      45.0     -108.0      0.263062  19891231         0
4       40      45.0     -107.0     -1.216431  19891231         0
..     ...       ...        ...           ...       ...       ...
643  55363      37.0      -98.0  97238.789062  19891231         0
644  55373      37.0      -97.0  97651.789062  19891231         0
645  55383      37.0      -96.0  98721.789062  19891231         0
646  55393      37.0      -95.0  98732.789062  19891231         0
647  55403      37.0      -94.0  97131.789062  19891231         0

     validityDate  validityTime shortName
0        19900101             0       10u
1        19900101             0       10u
2        19900101             0       10u
3        19900101             0       10u
4        19900101             0       10u
..            ...           ...       ...
643      19900101             0        sp
644      19900101             0        sp
645      19900101             0        sp
646      19900101             0        sp
647      19900101             0        sp

[648 rows x 9 columns]>

In [87]:
df_wind_u=data_single_time[data_single_time.shortName=="10u"].reset_index()
df_wind_v=data_single_time[data_single_time.shortName=="10v"].reset_index()
df_temp=data_single_time[data_single_time.shortName=="2t"].reset_index()
df_sp=data_single_time[data_single_time.shortName=="sp"].reset_index()

In [88]:
#Rename the value column and remove the short name:

,level_0,index,Latitude,Longitude,Value,dataDate,dataTime,validityDate,validityTime,shortName
0,324,27702,45.0,-111.0,264.130859,19891231,0,19900101,0,2t
1,325,27712,45.0,-110.0,261.908203,19891231,0,19900101,0,2t
2,326,27722,45.0,-109.0,267.564453,19891231,0,19900101,0,2t
3,327,27732,45.0,-108.0,266.138672,19891231,0,19900101,0,2t
4,328,27742,45.0,-107.0,266.048828,19891231,0,19900101,0,2t
...,...,...,...,...,...,...,...,...,...,...
157,481,41512,37.0,-98.0,275.431641,19891231,0,19900101,0,2t
158,482,41522,37.0,-97.0,275.126953,19891231,0,19900101,0,2t
159,483,41532,37.0,-96.0,275.314453,19891231,0,19900101,0,2t
160,484,41542,37.0,-95.0,274.822266,19891231,0,19900101,0,2t
161,485,41552,37.0,-94.0,273.916016,19891231,0,19900101,0,2t

In [ ]:
#Merge the files:

In [ ]:
#Extract wind direction: